<li id="<%= system %>_system" class="system_block">
	<div class="system_name"><%= system %></div>
	<div class="nb_neutral">?</div>
	<div class="nb_friendly">?</div>
	<div class="nb_enemy">?</div>
	<ul class="system_details">
		<li>
			<em class="neutral_nodes_label">Neutral</em>:
			<span class="neutral_nodes">none</span>
		</li>
		<li>
			<em class="friendly_nodes_label">Friendly</em>:
			<span class="friendly_nodes">none</span>
		</li>
		<li>
			<em class="enemy_nodes_label">Enemy</em>:
			<span class="enemy_nodes">none</span>
		</li>
	</ul>
</li>