* {
    box-sizing: border-box;
}
body {
    background-color: #3F51B5;
    color: #212121;
    margin: 0;
    -webkit-app-region: drag;
}
h1, h2 {
    text-align: center;
    text-shadow: 1px 1px rgba(200,200,200,.5);
}
h1 {
    color: #FFF;
    margin: 0;
    padding: 50px 10px;
    user-select: none;
}
a {
    text-decoration: none;
}
a:hover {
    cursor: pointer;
    text-decoration: underline;
}
em {
    color: #303F9F;
    font-style: normal;
    font-weight: bold;
}
td {
    border-top: 1px dotted #BDBDBD;
    font-size: .8em;
}
td, th {
    text-align: center;
    padding: 3px;
}
ul {
    list-style: square;
}
p + ul {
    margin-top: -1em;
}
